a.icon {
	/* Box-size */
	width: 50px;
	height: 50px;
	margin: 10px;

	/* Borders */
	border-radius: 50%;

	/* Background */
	background-size: 60% 60%;
	background-repeat: no-repeat;
	background-position: center;

	/* Text */
	text-indent: -9999px;

	/* Display */
	display: block;

	/* Transition */
	/* Transition on background image is supported natively by Chrome, Opera and Safari. */
	transition: all 0.3s ease-in-out;
}

/* Instagram */
a.ig {
	background-image: url("../../media/icons/video-inv.png");
}
a.ig:hover {
	background-image: url("../../media/icons/video.png");
	background-color: rgb(255, 255, 255);
}

/* Phone number */
a.pn {
	background-image: url("../../media/icons/telephone-inv.png");
}
a.pn:hover {
	background-image: url("../../media/icons/telephone.png");
	background-color: rgb(255, 255, 255);
}

/* Language switch */
a.it{
	width: 35px;
	height: 35px;
	background-image: url("../../media/icons/italy.png");
}
a.it:hover {
	background-color: rgb(255, 255, 255);
}

a.en{
	width: 35px;
	height: 35px;
	background-image: url("../../media/icons/united-kingdom.png");
}
a.en:hover {
	background-color: rgb(255, 255, 255);
}