li.traditional::before{
    background-image: url("../media/icons/styles/Traditional.png");
}
li.lettering::before {
    background-image: url("../media/icons/styles/Lettering.png");
}
li.black-work::before,
li.black-and-white::before {
    background-image: url("../media/icons/styles/Black\ Work.png");
}
li.american-traditional::before {
    background-image: url("../media/icons/styles/American\ Traditional.png");
}
li.chromed::before {
    background-image: url("../media/icons/styles/Chromed.png");
}
li.dark-traditional::before {
    background-image: url("../media/icons/styles/Dark\ Traditional.png");
}
li.fine-line::before {
    background-image: url("../media/icons/styles/Fine\ Line.png");
}
li.geometric::before{
    background-image: url("../media/icons/styles/Geometric.png");
}
li.linework::before{
    background-image: url("../media/icons/styles/Line\ Work.png");
}
li.realism::before{
    background-image: url("../media/icons/styles/Realism.png");
}
li.surrealism::before{
    background-image: url("../media/icons/styles/Surrealism.png");
}
li.trash::before{
    background-image: url("../media/icons/styles/Trash.png");
}